DB_URL=postgres://postgres:yourpassword@db:5432/vc_platform_db?sslmode=disable
PORT=8080
JWT_SECRET=change-this-to-something-long
AWS_ACCESS_KEY_ID=your-iam-access-key
AWS_SECRET_ACCESS_KEY=your-iam-secret-key
AWS_REGION=ap-south-1
S3_BUCKET=your-bucket-name